<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
<div id = "wrapperHeader"/>
<div th:if="${sites}" id="body">
    <table>
        <tr>
            <th>
                <h3>Site Id</h3>
            </th>
            <th>
                <h3>Tenant Name</h3>
            </th>
            <th>
                <h3>Agent Name</h3>
            </th>
            <th>
                <h3>Site Name</h3>
            </th>
        </tr>
        <tr th:each="site: ${sites}">
            <td style="border: groove" th:text="${site.siteId}"></td>
            <td style="border: groove" th:text="${site.tenantName}"></td>
            <td style="border: groove" th:text="${site.agentName}"></td>
            <td style="border: groove" th:text="${site.siteName}"></td>
        </tr>
    </table>
</div>
</body>
</html>
